* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.wrapper {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
  padding-top: 105px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__add-btn {
  background-color: #242486;
  border: 0;
  border-radius: 7px;
  color: #fff;
  padding: 0 18px;
  cursor: pointer;
  outline: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.header__add-btn:hover {
  background-color: #0f0f0f;
}

.header__form-wrapper {
  background-color: #242486;
  width: 100vw;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.header__add-form {
  padding: 25px 0;
  max-width: 200px;
  width: 90%;
}

.add-form__label, .add-form__input {
  display: block;
}

.add-form__label {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-form__input {
  border: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #0f0f0f;
  width: 100%;
  margin-top: 5px;
  padding: 5px 5px;
  outline: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.add-form__btn {
  background-color: #242486;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: block;
  margin: 20px auto 0 auto;
  padding: .5rem 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.add-form__btn:hover {
  background-color: #fff;
  color: #242486;
}

.textbox__title {
  color: #0f0f0f;
  font-size: 2.4rem;
  font-weight: 800;
}

.textbox__subtitle {
  color: #242486;
  font-size: 1.8rem;
  font-weight: 700;
}

.main__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  row-gap: 50px;
}

.card {
  border: 2px solid #757575;
  border-radius: 7px;
  height: 250px;
  width: 250px;
  position: relative;
}

.card__header {
  background-color: #757575;
  color: #fff;
  padding: 15px 15px;
}

.card__book-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.card__book-author {
  font-size: 1.4rem;
  font-weight: 500;
}

.card__checkbox {
  margin-top: 7px;
}

.card__pages {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card__delete-btn {
  color: #757575;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.checkbox__input {
  margin-right: 5px;
}

@media screen and (max-width: 855px) {
  .main__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
  }
}

@media screen and (max-width: 590px) {
  .main__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 250px;
        grid-template-columns: 250px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding-top: 50px;
  }
  .header__add-btn {
    font-size: 1.2rem;
  }
  .textbox__title {
    font-size: 1.8rem;
  }
  .textbox__subtitle {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=styles.css.map */